[Desktop Entry]
Version=1.0
Type=Application
Name=C-Media Player Linux v1.0
Comment=Player de C-Media desarollado para Linux.
TryExec=/home/luis/Escritorio/C-Media_Linux_player/dist/App/App
Exec=sudo /home/luis/Escritorio/C-Media_Linux_player/dist/App/App
Icon=/home/luis/Descargas/C-MediaRecursos/CmediaPlayer.ico
Terminal=false
MimeType=x-scheme-handler/CMedia;
Keywords=c-media;player;media
X-GNOME-UsesNotifications=true;

