[Desktop Entry]
Version=1.0
Type=Application
Name=C-Media Player Linux v1.0 configuration
Comment=Player de C-Media desarollado para Linux.
TryExec= C-Media_Player
Exec= C-Media_Player %U --config 
Icon= CmediaPlayer
Terminal=false
Keywords=config;configuracion;c-media;media
MimeType=x-scheme-handler/CMedia;
X-GNOME-UsesNotifications=true;

